body {
  background-color: #A9D7D1;
}
.main-div {
  margin: auto;
  margin-top: 2rem;
}

.main-form {
  max-width: 700px;
  background-color: #FAFAFA;
  border-style: solid;
  border-color: lightgrey;
  border-radius: 10px;
  padding: 20px;
  border-width: 1px;
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}